.main{
  width: 500px;
  border: 1px solid black;
  height: 90vh;
}

.header {
  height: 50px;
  background-color: navy;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.summary_segment{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  font-size: 60px;
  align-items: center;
}



.container_inner{
  height: 100%;
}

.button_container{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.amount_table {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px dashed #dfdfdf;
}